.form{
	width: 700px;
	border: 2px solid #027885;
}

.center button{
	background-color: #028c9b;
	border: none;
	transition: 0.3s;
}

.center button:hover{
	transform: scale(1.02);
	background-color: #03a0b1;
}